<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication1">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
<!--    -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/img"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication1">
        <!--        @mipmap/ic_launcher-->
        <!--        @mipmap/ic_launcher_round-->
        <activity android:name=".Animation.ATweenAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".InformationAccess.AccessBundleIntent" />
        <activity android:name=".InformationAccess.AccessHandle" />

        <receiver
            android:name=".BroadcastReceiver.BroadcastFirst"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceiver.BroadcaseSecond"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action" />
            </intent-filter>
        </receiver>

        <service android:name=".Service.ServiceOnBind" />
        <service android:name=".Service.ServiceOnStartCommand" />


        <!--        Widget start-->
        <receiver
            android:name=".AppWidgetProvider.ExampleAppWidgetProvider"
            android:enabled="true"
            android:exported="true"
            android:label="widget">
            // 设置XML文件
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
            // 配置AppWidget的意图过滤
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.RemoteView.action.CLICK" />
            </intent-filter>
        </receiver>
        <service android:name=".AppWidgetProvider.ExampleAPPWidgetProviderService" />
        <!--        Widget end-->
    </application>
</manifest>